.stage {
    display: flex;
    position: absolute;
    padding: 5vw;

    width: 100vw;
    height: 35vw;

    background-color: orange;
    border-radius: 0 0 3vw 3vw;
}

.active-card {
    width: 20vw;
    height: 25vw;
    border: 3.5px dashed black;
    border-radius: 2vw;
}

.deck {
    display: flex;
    position: relative;
}

.stage-card {
    border: 3.5px solid black;
    width: 20vw;
    height: 25vw;
    border-radius: 2vw;
    position: absolute;
}